{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "prefer-const": "warn",
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": ["warn", "prefer-double"],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": "warn",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  }
}
